html,
body {
  margin: 0;
  padding: 0;
  background: lightblue;
}
h1 {
  margin-top: 0.3em;
}
.App {
  text-align: center;
  background: #71a6b8;
  padding: 1em;
  border-radius: 1em;
  margin: 0 auto;
  width: 30%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
}

.question,
.answer {
  background: white;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  font-weight: bolder;
}

.btn {
  margin: 0.5em;
  border-radius: 1em;
  padding: 0.5em;
}

@media (max-width: 750px) {
  .App {
    width: 50%;
  }
}
