html,
body {
  margin: 0;
  padding: 0;
  background: lightblue
}

.App {
  text-align: center;
  background: #71A6B8;
  margin: 5em;
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.question, .answer {
  background: lightgrey
}